{% extends "layout.html" %}

{% block content %}
    <h2>Let's make a prediction</h2>

    <p>Use the form below to predict which user is more likely to say a given tweet...</p>

    <form action="/predict" method="POST">

        <label>Twitter User A:</label>
        <select name="screen_name_a">
            <option value="dog_feelings" selected="true">@dog_feelings</option>
            <option value="TomHankThatsMe">@TomHankThatsMe</option>
            <!-- <option value="s2t2">@s2t2</option> -->
        </select>
        <br>

        <label>Twitter User B:</label>
        <select name="screen_name_b">
            <option value="dog_feelings">@dog_feelings</option>
            <option value="TomHankThatsMe" selected="true">@TomHankThatsMe</option>
            <!-- <option value="s2t2">@s2t2</option> -->
          </select>
        <br>

        <label>Tweet Text:</label>
        <input type="text" name="tweet_text" placeholder="I am a dog." value="I think it's better to feel good than to look good.">
        <br>

        <button>Submit</button>
    </form>
{% endblock %}
